/* general style */
:root {
    --bgLogin: #439bff;
    --bgMain: #dd1c77;
}

body {
    background-color: black;
}

h1, h3, h5 {
    text-align: center;
    text-decoration-line: underline;
}

hr {
    width: 300px;
    color: var(--bgLogin);
}

p {
    font-size: 2vh;
}

#spacing {
    font-size: 2.5px;
}

input[type="button"] {
    max-width: 400px;
}

.generalButton {
    height: 50px;
}


/* User Authorization index.html */
#userAuth {
    background-color: var(--bgLogin);
    padding: 30px;
    text-align: center;
    min-width: 300px;
    max-width: 400px;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
}

#padding {
    position: relative;
    height: 10vh;
}


/* Activities page */
    /* general */
    [class*="activity_panel"] {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 400px;
        padding: 20px;
    }

    [class*="Input"] {
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }

    .panel_container {
        display: flex;
        min-height: 96vh;
    }

    label {
        order: -1;
        text-align: left;
        font-size: 80%;
    }

    /* what to do page */
    #what_to_do {
        background-color: var(--bgMain);
    }

    /* new listing page */
    #new_listing {
        background-color: var(--bgMain);
    }

    .searchButton {
        height: 25px;
    }

    /* listing search page */
    #lookup_listing {
        background-color: var(--bgMain);
    }

    #agentListingList {
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }

    .warning-placeholder::placeholder {
        color: #ca0000;
        opacity: 1;
    }

    /* print document page */
    #print_records {
        background-color: var(--bgMain);
    }

    [class*="Output"] {
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }

    .printButton {
        height: 25px;
    }